*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-body: #2F2F33;
    --bg-input: #06181C;
    --txt-search: #7C7C8A;
    --btn-search: #065E7C;
    --line-one: #065E7C;
    --line: #0d2f39;
    --bg-line: #06181C;
    --txt-remove: #F75A68;
    --txt-table: #E1E1E6;
    --btn-white: #ffffff;
    --ff-body: "Roboto", sans-serif;;
    font-size: 62.5%;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /*faz o conteúdo caber dentro, sem vazar*/
    clip: rect(0, 0, 0, 0); /*cria um retangulo nulo*/
    white-space: nowrap; /*Não faz quebra de linha do texto*/
    border-width: 0;
}
body{
    background: var(--bg-line);
}
body *{
    font-family: var(--ff-body);
}
#app{
    width: 112rem;
    height: 100vh;
    margin: 0 auto;
    padding: 4rem 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    color: var(--txt-search);
    width: 46rem;
    height: 4.8rem;
    background-color: var(--bg-input);
    padding: 1.2rem;
    border: none;
    border-radius: .8rem;
    margin-right: .8rem;
    font-size: 1.6rem;
    border: .1rem solid var(--txt-search);
}
.search input::placeholder {
    color: var(--text-search);
    opacity: 1;
}
.search button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.2rem;
    border-radius: .8rem;
    gap: .8rem;
    border: none;
    background-color: var(--btn-search);
    color: var(--txt-table);
    cursor: pointer;
}
.search button:hover{
    background-color: var(--btn-white);
    color: var(--btn-search);
}
/*MUDA A IMG DO BUTTON QUANDO PASSAR O MOUSE*/
.search button:hover img {
    content: url('../assets/star-blue.svg');
}
/*TABELAS MAIN*/
.tabela-container {
    max-height: 51rem;
    border: 1px solid #4A808C;
    border-radius: 1.2rem;
    overflow-y: auto;
}


#table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: var(--txt-table);
    font-size: 1.6rem;
    font-weight: bold;
}

thead th{
    position: sticky;
    top: 0;
    background: var(--line-one);
    z-index: 1;
    padding: 2rem;
    text-align: center;
    font-weight: 550;
}
.noFav {
    position: sticky;
    height: 28.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 0.1rem solid #4A808C;
    border-radius: 0 0 1.2rem 1.2rem;
    background: var(--bg-input);
}


.noFav h2 {
    font-weight: 700;
    font-size: 4rem;
    color: #4E5455;
}
.hide {
    display: none;
}

/*PRIMEIRA LINHA*/

td{
    border: none;
}

td, th {
    width: auto;
    padding: 2rem;
    text-align: center;
    border-bottom: 0.1rem solid #4A808C;    
}

/*primeira coluna maior*/
td:first-child, th:first-child {
    text-align: left;
    width: 50.4rem;
}

/*deixar as linhas com cores diferentes - odd = impar*/
table tr:nth-child(odd) {
    background: var(--line); 
}

table tr:nth-child(even) {
    background: var(--bg-line);
}

/*BORDER-RADIUS NAS BORDAS*/
table th:first-child {
    border-top-left-radius: 1.2rem;
}



table tr:last-child td:last-child {
    border-bottom-right-radius: 1.2rem;
    overflow: hidden;
}


.user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user img{
    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    object-fit: cover;
}

.user a{
    text-decoration: none;
    color: var(--txt-table);
}

.user a p{
    color: var(--txt-table);
    font-weight: bold;
}
.user span{
    font-weight: normal;
}
.remove{
    background: none;
    border: none;
    color: var(--txt-remove);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
    background: #232C3B;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
    background: #4A808C;
    border-radius: 15px;
}